.header {
  width: 100%;
}

.top-banner {
  background-color: #5F0080;
  color: #FFFFFF;
  height: 42px;
  text-align: center;
}

.top-banner a {
  font-size: 14px;
  line-height: 42px;
  text-align: center;
}

.top-banner button {
  background-color: transparent;
  width: 42px;
  height: 42px;
  border: none;
}

.top-bann8er button > img {
  width: 20px;
  height: 20px;  
}

.header-inner {
  width: 1050px;
  margin: 0 auto;
}

.page-theme span {
  font-size: 18px;
}

.page-theme a {
  font-size: 18px;
  position: relative;
}

.page-theme a:last-child::after {
  content: url("/client/assets/icons/Icon/New-1.svg");
  position: absolute;
  top: -16px;
  padding: 0 4px;
}

.hidden {
  display: none;
}

.member-only {
  display: flex;
}
