.header {
  width: 100%;
}

.top-banner {
  background-color: var(--primary-color);
  height: 42px;
  text-align: center;
}

.top-banner a {
  color: var(--white);
  font-size: 14px;
  line-height: 42px;
  text-align: center;
}

.top-banner button {
  background-color: transparent;
  width: 42px;
  height: 42px;
  border: none;
}

.top-banner button > img {
  width: 20px;
  height: 20px;  
}

.header-inner {
  width: 1050px;
  margin: 0 auto;
}

/* 멤버 링크 모음 */
.member-only {
  text-align: right;
  padding: 4px 0;
}

.member-only li,
.member-only a {
  display: inline-block;
}

.member-only li:first-child a {
  color: var(--primary-color);
}

.header-inner__top {
  display: flex;

}

.page-switch {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo {
  width: 82px;
  height: 42px;
  margin-right: 15px;
}

.page-theme span {
  font-size: 16px;
  margin-bottom: 2px;
}

.page-theme a {
  font-size: 18px;
  position: relative;
}

.page-theme a:first-child {
  color: var(--primary-color);
}

.page-theme a:last-child::after {
  content: url("/client/assets/icons/icon/New-1.svg");
  position: absolute;
  top: -16px;
  padding: 0 4px;
}

.member-page {
  display: flex;
}

.hidden {
  display: none;
}