
.primary-color{
  color: #5F0080;
}

.accent-color {
  color: #FA622F;
}

.text-xl {
  font-size: 1.5rem;
  font-weight: 700;
}

.margin-top-default {
  margin-top: 20px;
}
.margin-top-thin {
  margin-top: 5px;
}
.margin-top-normal {
  margin-top: 10px;
}
.margin-top-large {
  margin-top: 15px;
}

.margin-top-10 {
  margin-top: 10px;
}
.margin-top-15 {
  margin-top: 15px;
}
