.container {
  /* background-color: blue;
  width: 1920px;
  height: 6852px;
  justify-content: center;
  padding: 4px 4px 96px;
  gap: 4px; */
}

.product-wrapper {
  width: 1050px;
  height: 6752px;
  margin: 0 auto;
  background-color: pink;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  /* padding: 40px 0px 0px; */
}
