@import url(./reset.css);
@import url(./module.css);

/* 숨김 콘텐츠 */
.a11y-hidden,
legend {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0);
}

/* 본문 스타일 */
body {
  /* width: 1920px; */
  color: var(--black);
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

/* 기본 스타일 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}
/* 링크 스타일 */
a {
  color: inherit;
  text-decoration: none;
}
/* 상세페이지 */
.more-infomation__why-karly{
  text-align: center;
  width: 1050px;
  margin: auto;
  border-top: 1px;
  margin-bottom: 91px;
}
.why-karly__wrapper{
  color: var(--primary-color);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 35px;
  justify-content: center;
  /* flex-wrap: wrap; */
}
.why-karly__content{
  /* display: flex; */
  width: 315px;
  padding-top: 56px;
  /* flex-wrap: wrap; */
}

.why-karly__header{
  color:  var(--black);
  font-size: 28.43px;
  font-weight: var(--text-700);
}
/* why-karly아이콘 */
.why-karly__check-title::before{
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  margin: 0px auto 16px;
  background: url(../client/assets/icons/Icon/01_check.svg) 50% 50% no-repeat;
}

.why-karly__only-title::before{
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  margin: 0px auto 16px;
  background: url(../client/assets/icons/Icon/02_only.svg) 50% 50% no-repeat;
}
.why-karly__cold-title::before{
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  margin: 0px auto 16px;
  background: url(../client/assets/icons/Icon/03_cold.svg) 50% 50% no-repeat;
}
.why-karly__price-title::before{
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  margin: 0px auto 16px;
  background: url(../client/assets/icons/Icon/04_price.svg) 50% 50% no-repeat;
}
.why-karly__eco-title::before{
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  margin: 0px auto 16px;
  background: url(../client/assets/icons/Icon/05_eco.svg) 50% 50% no-repeat;
}
/* why-karly 타이틀 */
.why-karly__check-title{
  font-size: var(--text-lg);
  font-weight: var(--text-700);
  color: var(--primary-color);
  display: block;
  line-height: 27px;
  text-align: center;
}
.why-karly__only-title{
  font-size: var(--text-lg);
  font-weight: var(--text-700);
  color: var(--primary-color);
  display: block;
  line-height: 27px;
  text-align: center;
}
.why-karly__cold-title{
  font-size: var(--text-lg);
  font-weight: var(--text-700);
  color: var(--primary-color);
  display: block;
  line-height: 27px;
  text-align: center;
}
.why-karly__price-title{
  font-size: var(--text-lg);
  font-weight: var(--text-700);
  color: var(--primary-color);
  display: block;
  line-height: 27px;
  text-align: center;
}
.why-karly__eco-title{
  font-size: var(--text-lg);
  font-weight: var(--text-700);
  color: var(--primary-color);
  display: block;
  line-height: 27px;
  text-align: center;
}
/* why-karly 본문 */
.why-karly__desc{
  display: block;
  padding-top: 24px;
  color: var(--black);
  font: inherit;
  font-size: var(--text-base);
  text-align: center;
  line-height: 160%;
  height: 104px;
}
/* 상품후기 ------------------------*/
.product_review{
  /* background-color: lightblue; */
  width: 1050px;
  margin: auto;
}
.review__header{
  /* background-color: lightgray; */
  /* height: 142px; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0;
  gap: 76px;
}
.review-title{
  font-size: 28.43px;
  font-weight: var(--text-700);
}
.review-button{
  background-color: var(--primary-color);
  border-radius: 4px;
  width: 155px;
  height: 44px;
  color: var(--white);
  border: 0 none;
}
.review__desc-bold{
  margin-top: 20px;
  font-size: var(--text-base);
  font-weight: var(--text-600);
  line-height: 150%;
}
.review__desc{
  /* background-color: cyan; */
  color: #6B6B6B;
  font-size: var(--text-xs);
  font-weight: var(--text-600);
  line-height: 150%;
  list-style-position:inside;
  padding-left: 7px;  
}
.review__container{
  /* background-color: yellowgreen; */
  font-size: var(--text-xs);
  font-weight: var(--text-600);
  line-height: 18px;
}
.sort{
  display: flex;
  justify-content: space-between;
  margin-top: 56px;
}
.sort__recommend{
  background-color: transparent;
  color: var(--black);
  font-size: var(--text-base);
  font-weight: var(--text-600);
  line-height: 24px;
  border: none;
  padding: 0;
}
.sort__registered{
  color: #a6a6a6;
  background-color: transparent;
  font-size: var(--text-base);
  font-weight: var(--text-600);
  line-height: 24px;
  border: none;
  padding: 0;
}
.divider{
  margin: 8px;
}
.reviews{
  border-top: var(--black);
}
.reviews__notice{
  background-color: yellowgreen;
  padding: 17px;
  border-bottom: #e1e1e1;

}
.reviews__notice-header{
  display: flex;
}
.reviews__badge{
  background-color: #e1e1e1;
  width: 37px;
  height: 18px;
}