@import url(./reset.css);
@import url(./module.css);
@import url(./main.css);
/* @import url(./fontello.css); */

body{
  font-family: 'Pretendard Variable', Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', sans-serif;
}

/* 숨김 콘텐츠 */
.a11y-hidden,
legend {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0);
}

/* 기본 스타일 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: var(--text-base);
  font-weight: var(--text-400);
  color: var(--black);
}

/* 링크 스타일 */
a {
  color: inherit;
  text-decoration: none;
}

h1{
  font-size: 28px;
  font-weight: 700;
}
