@import url(./reset.css);
@import url(./fontello.css);
@import url(./module.css);
@import url(./header.css);
@import url(./footer.css);

/* 본문 스타일 */
body {
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  color: var(--black);
  font-weight: var(--text-400);
}

/* 숨김 콘텐츠 */
.a11y-hidden,
legend {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0);
}

/* 기본 스타일 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

/* 링크 스타일 */
a {
  color: inherit;
  text-decoration: none;
}

/* header, footer 및 전체 레이아웃 */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  width: 100%;
  height: 10000px;
}