/* @import url(./normalize.css); */
@import url(./reset.css);
@import url(./module.css);

/* 숨김 콘텐츠 */
.a11y-hidden,
legend {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0);
}

/* 기본 스타일 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}
/* 링크 스타일 */
a {
  color: inherit;
  text-decoration: none;
}
/* 상세페이지 */
.more-infomation__why-karly{
  background-color:gray;
  text-align: center;
  font-style: Bold;
  font-size: 28.43px;
}
.why-karly__wrapper{
  background-color: coral;
  display: flex;
}
.why-karly__title{
  background-color: #fff;
  font-weight: 600;
  font-size: 21.33px;
  color: var(--primary-color);
}
/* 장바구니 */

