@import url(./reset.css);
@import url(./module.css);

/* 숨김 콘텐츠 */
.a11y-hidden,
legend {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0);
}

/* 본문 스타일 */
body {
  /* width: 1920px; */
  color: var(--black);
  font-family: 'Pretendard Variable', Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', sans-serif;
}

/* 기본 스타일 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  /* font-size: 16px; */
  scroll-behavior: smooth;
}
/* 링크 스타일 */
a {
  color: inherit;
  text-decoration: none;
}

.main {
  width: 1050px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  padding: 40px 0px 0px 0px;
}

.product {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.product__img {
  width: 400px;
  height: 514px;
  margin-right: 90px;
}

.product__info {
  width: 560px;
}

.product__delivery {
  color: #6b6b6b;
  font-size: 21px;
  font-weight: 700;
}

.product__product-name {
  margin: var(--spacing-base) 0 4px;
  font-size: 28px;
  font-weight: 600;
  line-height: 150%;
}

.product__product-desc {
  color: #898989;
  font-weight: 400;
  line-height: 160%;
  font-size: var(--text-sm);
}

.product__product-price {
  color: var(--black);
  display: flex;
  margin: var(--spacing-base) 0;
  font-size: 28px;
  font-weight: 600;
  line-height: 150%;
}

.product__product-price span {
  margin-left: 3px;
  font-size: var(--text-base);
  padding-top: 2px;
}

.product__reward-info {
  color: var(--primary-color);
  font-weight: 600;
  font-size: var(--text-base);
  margin-bottom: var(--spacing-md);
  line-height: 150%;
}

.product__info ul li {
  display: flex;
  padding: var(--spacing-base) 0;
  border-bottom: 1px solid #b5b5b5;
  color: #6b6b6b;
  font-size: var(--text-xs);
  line-height: 150%;
}

.product__info ul li:first-child {
  border-top: 1px solid #b5b5b5;
}

.product__info ul li > p:first-child {
  width: 20%;
  padding-left: 3px;
}

.product__info ul li > p {
  width: 100%;
  font-weight: 600;
}

.product__info .light {
  display: block;
  color: var(--grey);
  font-weight: 500;
}

.product__select-item {
  width: 432px;
  height: 84px;
  padding: var(--spacing-sm);
  border: 1px solid #b5b5b5;
  position: relative;
  font-weight: 600;
}

.product__quantity {
  width: 85px;
  height: 28px;
  margin-top: 10px;
  border: 1px solid var(--grey);
  display: flex;
  align-items: center;
}

.product__quantity span,
button {
  display: block;
  width: 28px;
  height: 28px;
  color: var(--black);
  text-align: center;
  font-size: var(--spacing-base);
  font-weight: 900;
  background: none;
  border: none;
}

.product__quantity span {
  line-height: 28px;
}

.product__quantity button {
  margin-bottom: 5px;
}

.product__select-price {
  position: absolute;
  bottom: var(--spacing-sm);
  right: var(--spacing-sm);
}

.product__total-price {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-top: 28px;
  font-weight: 600;
  font-size: var(--spacing-base);
}

.product__total-price span {
  font-size: var(--spacing-lg);
  padding: 0 4px 0 17px;
}

.product__reward {
  display: flex;
  justify-content: end;
  align-items: center;
  font-weight: 600;
}

.product__reward-icon {
  background-color: #fa622f;
  color: var(--white);
  padding: 6px 8px;
  gap: 4px;
  border-radius: 12px;
  font-weight: 300;
  margin-right: 6px;
  font-size: 10px;
}

.product__reward-price {
  font-size: var(--text-base);
}

.product__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 28px;
}

.product-buttons__like,
.product-buttons__alert {
  width: 54px;
  height: 54px;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  padding-top: 5px;
}

.product-buttons__cart {
  background-color: var(--primary-color);
  width: 424px;
  height: 54px;
  border-radius: 4px;
  color: var(--white);
  text-align: center;
  line-height: 54px;
}

.fixed-navbar {
  position: sticky;
  z-index: 20;
  top: 0;
  margin-bottom: 40px;
}

.fixed-navbar__list li.is-active {
  background-color: var(--white);
  border-color: var(--grey);
  border-bottom: none;
  color: var(--primary-color);
}

.fixed-navbar__list {
  margin-top: 46px;
  display: flex;
  justify-content: space-between;
  position: sticky;
}

.fixed-navbar__list li {
  display: inline-block;
  justify-content: center;
  text-align: center;
  background-color: #f9f9f9;
  width: 262.5px;
  height: 54px;
  border: 1px solid var(--grey);
  font-weight: 600;
  line-height: 54px;
  cursor: pointer;
}

.fixed-navbar__list li:not(:first-child) {
  border-left: none;
}

.fixed-navbar__list li span {
  margin-left: 3px;
  font-size: var(--text-xs);
  font-weight: 400;
}

.fixed-navbar__list li > a {
  display: block;
  font-weight: 600;
  font-size: var(--text-sm);
}

.description__text {
  margin-top: 76px;
  margin-bottom: 96px;
}

.description__text h3 {
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 36px;
}

.description__text small {
  display: inline-block;
  width: 100%;
  font-size: 23px;
  font-weight: 600;
}

.description__text p {
  border-top: 1px solid var(--grey);
  padding-top: 28px;
  color: #212121;
  font-weight: 400;
  font-size: var(--text-base);
  line-height: 1.6;
}

.description__check-point {
  margin-bottom: 96px;
  position: relative;
}

.description__check-point h3 {
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 68px;
  position: relative;
}

.description__check-point h3::before {
  width: 32%;
  content: '';
  height: 1px;
  background: #b5b5b5;
  position: absolute;
  top: 50%;
  left: 0;
}

.description__check-point h3::after {
  width: 32%;
  content: '';
  height: 1px;
  background-color: #b5b5b5;
  position: absolute;
  top: 50%;
  right: 0;
}

.check-point__picture {
  margin: 0 20px 0 20px;
}

.review-modal,
.inquiry-modal {
  display: none;
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  z-index: 1;
}

.review__write,
.inquiry__write {
  background: var(--white);
  width: 793px;
  height: 630px;
  border-radius: 16px;
  position: absolute;
  padding: 32px;
  text-align: center;
}

.review__write__header,
.inquiry__write__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.review__write__header h2,
.inquiry__write__header h2 {
  font-weight: var(--text-700);
  font-size: 28px;
  padding: 0px;
  margin: 0px;
}

.review__write__header span,
.inquiry__write__header span {
  width: 30px;
  height: 30px;
  display: inline-block;
  background: url(../assets/icons/icon/Cancel.svg);
  background-size: cover;
  background-position: center center;
  cursor: pointer;
  padding: 0px;
  margin-top: 0px;
}

.review__write__product-info,
.inquiry__write__product-info {
  padding: 16px 0 16px 0;
  align-items: center;
  align-content: center;
  display: flex;
  width: 729px;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
}
.review__write__product-info img,
.inquiry__write__product-info img {
  margin-right: 24px;
}

.review__write__product-info span,
.inquiry__write__product-info span {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.review__write__input,
.inquiry__write__input {
  margin-top: 16px;
}

.input__title {
  width: 729px;
  height: 44px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  margin-bottom: 12px;
}
.input__content {
  width: 729px;
  height: 198px;
  display: flex;
  flex-direction: row;
  align-items: top;
  padding: 0px;
  margin-bottom: 58px;
  position: relative;
}

.review__write__input label,
.inquiry__write__input label {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  margin: 8px 64px 10px 8px;
  width: 100px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px 0px 0px 8px;
  width: 100px;
  height: 42px;
}

.input__content textarea {
  width: 629px;
  height: 198px;
  border-radius: 4px;
  border: 2px solid #e1e1e1;
  padding: 16px;
}

#review-title {
  width: 629px;
  height: 44px;
  font-size: 16px;
  font-weight: 400;
  line-height: 25.6px;
  border-radius: 4px;
  padding: 0px 11px 0px 15px;
  border: 2px solid #e1e1e1;
}

.review__write__buttons {
  width: 729px;
  height: 74px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 20px 0px 0px;
  gap: 12px;
  border-top: 1px solid #e1e1e1;
}

.review__write__buttons button {
  width: 186px;
  height: 54px;
  border-radius: 4px;
  border: 2px solid #e1e1e1;
}

.review__write__buttons__register {
  background: #e1e1e1;
  color: var(--white);
}

.count {
  position: absolute;
  bottom: -20px;
  right: 0;
}

/* ~~~~일범님 코드~~~~ */
/* 상세페이지 */
.more-infomation__why-karly {
  text-align: center;
  width: 1050px;
  margin: auto;
  border-top: 1px;
  margin-bottom: 91px;
}
.why-karly__wrapper {
  color: var(--primary-color);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 35px;
  justify-content: center;
  /* flex-wrap: wrap; */
}
.why-karly__content {
  /* display: flex; */
  width: 315px;
  padding-top: 56px;
  /* flex-wrap: wrap; */
}

.why-karly__header {
  color: var(--black);
  font-size: 28.43px;
  font-weight: var(--text-700);
}
/* why-karly아이콘 */
.why-karly__check-title::before {
  content: '';
  display: block;
  width: 40px;
  height: 40px;
  margin: 0px auto 16px;
  background: url(../client/assets/icons/Icon/01_check.svg) 50% 50% no-repeat;
}

.why-karly__only-title::before {
  content: '';
  display: block;
  width: 40px;
  height: 40px;
  margin: 0px auto 16px;
  background: url(../client/assets/icons/Icon/02_only.svg) 50% 50% no-repeat;
}
.why-karly__cold-title::before {
  content: '';
  display: block;
  width: 40px;
  height: 40px;
  margin: 0px auto 16px;
  background: url(../client/assets/icons/Icon/03_cold.svg) 50% 50% no-repeat;
}
.why-karly__price-title::before {
  content: '';
  display: block;
  width: 40px;
  height: 40px;
  margin: 0px auto 16px;
  background: url(../client/assets/icons/Icon/04_price.svg) 50% 50% no-repeat;
}
.why-karly__eco-title::before {
  content: '';
  display: block;
  width: 40px;
  height: 40px;
  margin: 0px auto 16px;
  background: url(../client/assets/icons/Icon/05_eco.svg) 50% 50% no-repeat;
}
/* why-karly 타이틀 */
.why-karly__check-title {
  font-size: var(--text-lg);
  font-weight: var(--text-700);
  color: var(--primary-color);
  display: block;
  line-height: 27px;
  text-align: center;
}
.why-karly__only-title {
  font-size: var(--text-lg);
  font-weight: var(--text-700);
  color: var(--primary-color);
  display: block;
  line-height: 27px;
  text-align: center;
}
.why-karly__cold-title {
  font-size: var(--text-lg);
  font-weight: var(--text-700);
  color: var(--primary-color);
  display: block;
  line-height: 27px;
  text-align: center;
}
.why-karly__price-title {
  font-size: var(--text-lg);
  font-weight: var(--text-700);
  color: var(--primary-color);
  display: block;
  line-height: 27px;
  text-align: center;
}
.why-karly__eco-title {
  font-size: var(--text-lg);
  font-weight: var(--text-700);
  color: var(--primary-color);
  display: block;
  line-height: 27px;
  text-align: center;
}
/* why-karly 본문 */
.why-karly__desc {
  display: block;
  padding-top: 24px;
  color: var(--black);
  font: inherit;
  font-size: var(--text-base);
  text-align: center;
  line-height: 160%;
  height: 104px;
}
/* 상품후기 ------------------------------------------------------------------------*/
.product_review {
  /* background-color: lightblue; */
  width: 1050px;
  margin-top: 182px;
}
.review__header {
  /* background-color: lightgray; */
  /* height: 142px; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0;
  gap: 76px;
}
.review-title {
  font-size: 28.43px;
  font-weight: var(--text-700);
}
.review-button {
  font-size: var(--text-base);
  font-weight: var(--text-600);
  background-color: var(--primary-color);
  border-radius: 4px;
  width: 155px;
  height: 44px;
  color: var(--white);
  border: 0 none;
}
.review__desc-bold {
  margin-top: 20px;
  font-size: var(--text-base);
  font-weight: var(--text-600);
  line-height: 150%;
}
.review__desc {
  /* background-color: cyan; */
  color: #6b6b6b;
  font-size: var(--text-xs);
  font-weight: var(--text-600);
  line-height: 150%;
  list-style-position: inside;
  list-style-type: disc;
  padding-left: 7px;
}
.review__container {
  /* background-color: yellowgreen; */
  font-size: var(--text-xs);
  font-weight: var(--text-600);
  line-height: 18px;
}
.sort {
  display: flex;
  justify-content: space-between;
  margin-top: 56px;
  border-bottom: 1px solid black;
}
.sort__recommend {
  background-color: transparent;
  color: var(--black);
  font-size: var(--text-base);
  font-weight: var(--text-600);
  line-height: 24px;
  border: none;
  padding: 0;
}
.sort__registered {
  color: #a6a6a6;
  background-color: transparent;
  font-size: var(--text-base);
  font-weight: var(--text-600);
  line-height: 24px;
  border: none;
  padding: 0;
}
.divider {
  margin: 8px;
}
.reviews {
  border-top: var(--black);
}
.reviews__notice {
  /* background-color: yellowgreen; */
  /* padding: 17px; */
  border-bottom: 1px solid #e1e1e1;
  display: flex;
  flex: none;
  order: 1;
  flex-grow: 1;
}
details summary::marker {
  font-size: 0;
}
details summary {
  display: block;
  /* align-items: center; */
  padding: 20px 0;
}
.reviews__notice-header {
  display: flex;
  line-height: 150%;
}
.reviews__badge {
  background-color: #e1e1e1;
  width: 37px;
  height: 18px;
  font-size: var(--text-xs);
  font-weight: var(--text-600);
  text-align: center;
}
.review__notice-title {
  margin-left: 20px;
  font-size: var(--text-base);
  font-weight: var(--text-600);
}
.question::before {
  position: absolute;
  background: url(../client/assets/icons/icon/Question.svg) 100% 100% no-repeat;
  content: '';
  display: inline-flex;
  width: 24px;
  height: 24px;
  left: 20px;
}
.question {
  position: relative;
  background-color: #f9f9f9;
  border-top: 1px solid var(--light-gray);
  font-size: var(--text-xs);
  font-weight: var(--text-600);
  padding-top: 20px;
  padding-left: 56px;
  line-height: 150%;
}
.answer::before {
  position: absolute;
  background: url(../client/assets/icons/icon/Answer.svg) 100% 100% no-repeat;
  content: '';
  display: block;
  width: 24px;
  height: 24px;
  margin: 0px 0px 16px;
  left: 20px;
}
.answer {
  padding: 40px 0 20px 56px;
  /* padding-top: 40px;
padding-bottom: 20px;
padding-left: 56px; */
  position: relative;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: var(--text-xs);
  font-weight: var(--text-600);
  gap: 25px;
  line-height: 150%;
}
.reviews__review-box {
  /* background-color: #e1e1e1; */
  height: 154px;
  border-bottom: 1px solid #e1e1e1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 20px 0px 20px 20px;
  gap: 82px;
}
.writer {
  /* background-color: yellowgreen; */
  gap: 8px;
  width: 128px;
  height: 18px;
  display: flex;
  font-size: var(--text-xs);
  font-weight: var(--text-600);
  justify-content: space-between;
}
.best-badge {
  background-color: var(--second-color);
  width: 48px;
  height: 18px;
  padding: 0 8px;
  color: #ffffff;
  font-weight: var(--text-600);
  font-size: var(--text-xs);
  line-height: 150%;
  border-radius: 1px;
}
.purple-babge {
  line-height: 150%;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 1px;
  width: 37px;
  height: 18px;
  /* font-weight: var(--text-600);
  font-size: var(--text-xs); */
  padding: 0 7px;
}
.review-text {
  /* background-color: ivory; */
  display: flex;
  flex-direction: column;
  width: 151px;
  height: 114px;
  gap: 20px;
  font-size: var(--text-xs);
}
.reviews__button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  margin: 15px auto;
  align-items: center;
  width: 128px;
  height: 56px;
}

.reviews__button__left {
  /* background-color: skyblue; */
  width: 56px;
  height: 56px;
  border: 1px solid var(--light-gray);
  border-radius: 4px;
  color: #e1e1e1;
  background-color: transparent;
}
.reviews__button__left-arrow {
  transform: rotate(-180deg);
}
.reviews__button__right {
  /* background-color: skyblue; */
  width: 56px;
  height: 56px;
  border: 1px solid var(--light-gray);
  border-radius: 4px;
  background-color: transparent;
}
.reviews__button {
  margin-bottom: 96px;
}
/* 상품 문의------------------------------------------------------------------- */
.qna {
  width: 1050px;
  margin: auto;
}
.qna__notice {
  /* background-color: yellowgreen; */
  /* padding: 17px; */
  border-bottom: 1px solid #e1e1e1;
  display: flex;
  flex: none;
  order: 1;
  flex-grow: 1;
}
.qna__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0;
  gap: 76px;
}
.inquiry-title {
  font-size: 28.43px;
  font-weight: var(--text-700);
}
.inquiry-button {
  font-size: var(--text-base);
  font-weight: var(--text-600);
  background-color: var(--primary-color);
  border-radius: 4px;
  width: 155px;
  height: 44px;
  color: var(--white);
  border: 0 none;
}
.qna__desc {
  color: #6b6b6b;
  font-size: var(--text-xs);
  font-weight: var(--text-600);
  line-height: 150%;
  list-style-position: inside;
  list-style-type: disc;
  padding-left: 7px;
  margin-top: 20px;
  margin-bottom: 56px;
}
.qna__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 1050px;
}
.qna__table {
  margin-top: 56px;
  width: 1050px;
}
.qna__table__thead {
  height: 58px;
  width: 1050px;
  border-top: 2px solid rgb(51, 51, 51);
  border-bottom: 1px solid rgb(51, 51, 51);
  vertical-align: middle;
}
.qna__table-head {
  /* background-color: skyblue; */
  display: flex;
  font-weight: var(--text-600);
}
.tb-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* padding: 4px;
  gap: 4px; */
  width: 750px;
  height: 58px;
}
.tb-author {
  display: flex;
  height: 58px;
  width: 100px;
  justify-content: center;
  align-items: center;
}
.tb-created-date {
  display: flex;
  height: 58px;
  width: 100px;
  justify-content: center;
  align-items: center;
}
.tb-status {
  display: flex;
  height: 58px;
  width: 100px;
  justify-content: center;
  align-items: center;
}

.qna__notice-header {
  display: flex;
  line-height: 150%;
  font-weight: var(--text-600);
  justify-content: space-between;
}
.qna__notice-title {
  /* margin-left: 20px; */
  font-size: var(--text-base);
  font-weight: var(--text-600);
}
.qna__secret-title::after {
  /* margin-left: 20px; */
  display: inline-block;
  background: url(../client/assets/icons/icon/Lock.svg) 0px 0px no-repeat;
  content: '';
  /* display: block; */
  width: 12px;
  height: 14px;
  margin-left: 6px;
}
.qna__secret-title {
  /* margin-left: 20px; */
  font-size: var(--text-base);
  font-weight: var(--text-600);
}
.cell-author {
  display: flex;
  width: 100px;
  justify-content: center;
  align-items: center;
}
.cell-created-date {
  display: flex;
  width: 100px;
  justify-content: center;
  align-items: center;
}
.cell-status {
  display: flex;
  width: 100px;
  justify-content: center;
  align-items: center;
}
.cell-complete {
  display: flex;
  width: 100px;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
}

.qna__writing-data {
  display: flex;
  flex-wrap: nowrap;
}
