@import url(../css/reset.css);
@import url(../css/fontello.css);
@import url(../css/module.css);

/* 숨김 콘텐츠 */
.a11y-hidden,
legend {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0);
}

/* 기본 스타일 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}
/* 링크 스타일 */
a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: 'Pretendard Variable', Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', sans-serif;
  font-size: var(--text-base);
  font-weight: var(--text-400);
  color: var(--black);
}

.bubble-wrapper {
  display: none;
  position: absolute;
  top: 160px;
  right: 245px;
}

.bubble_wrapper-inner {
  background-color: var(--white);
  width: 254px;
  height: 100px;
  font-size: 12px;
  padding: 20px;
  display: flex;
  flex-flow: row wrap;
  gap: 24px;
  position: absolute;
  top: 11px;
  border: 1px solid #c4c4c4;
}
.bubble_wrapper-inner::after {
  content: ' ';
  border-bottom: 10px solid var(--white);
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  position: absolute;
  top: -8px;
  right: 28px;
}

.bubble_wrapper-inner::before {
  content: ' ';
  border-bottom: 10px solid #c4c4c4;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  position: absolute;
  top: -10px;
  right: 28px;
}

.bubble_wrapper-inner p:nth-child(2) {
  color: #a6a6a6;
  font-weight: var(--text-600);
  margin-top: 7.5px;
}

.bubble_wrapper-inner p:last-child {
  position: absolute;
  left: 90px;
  bottom: 27.5px;
}

.bubble__product-image {
  width: 46px;
  height: 60px;
}
