/* 버블 시작 */
.bubble-wrapper {
  display: inline-block;
  position: absolute;
  top: 100px;
  right: 400px;
  display: none;
}

.bubble_wrapper-inner {
  background-color: var(--white);
  width: 254px;
  height: 100px;
  font-size: 12px;
  padding: 20px;
  display: flex;
  flex-flow: row wrap;
  gap: 24px;
  position: absolute;
  top: 11px;
  border: 1px solid #c4c4c4;
}
.bubble_wrapper-inner::after {
  content: ' ';
  border-bottom: 10px solid var(--white);
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  position: absolute;
  top: -8px;
  right: 28px;
}

.bubble_wrapper-inner::before {
  content: ' ';
  border-bottom: 10px solid #c4c4c4;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  position: absolute;
  top: -10px;
  right: 28px;
}

.bubble_wrapper-inner p:nth-child(2) {
  color: #a6a6a6;
  font-weight: var(--text-600);
  margin-top: 7.5px;
}

.bubble_wrapper-inner p:last-child {
  position: absolute;
  left: 90px;
  bottom: 27.5px;
}

.bubble__product-image {
  width: 46px;
  height: 60px;
}
/* 버블 끝 */

.header {
  width: 100%;
  font-weight: 500;
  position: sticky;
  top: 0px;
  z-index: 1000;
  background-color: var(--white);
}

.top-banner {
  background-color: var(--primary-color);
  height: 42px;
}

.top-banner__inner {
  width: 1050px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.top-banner__inner p {
  color: var(--white);
  font-size: 14px;
  line-height: 42px;
  text-align: center;
}

.top-banner__inner button {
  background-color: transparent;
  width: 42px;
  height: 42px;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
}

.top-banner__inner button > img {
  width: 42px;
  height: 42px;
}

.header__inner {
  width: 1050px;
  margin: 0 auto;
  font-size: 12px;
}

.header-inner__top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-inner__top.sticky {
  height: 0;
}

.header__inner-member {
  text-align: right;
  line-height: 35px;
}

.header__inner-member li {
  display: inline-block;
}

.header__inner-member li:first-child {
  color: var(--primary-color);
}

.header__inner-member a {
  margin: 0px 5px;
}

.header__inner-member span {
  color: var(--grey);
  opacity: 0.3;
}

/* 멤버 링크 모음 */
.member {
  text-align: right;
  padding: 4px 0;
}

.member li,
.member a {
  display: inline-block;
}

.member li:first-child a {
  color: var(--primary-color);
}

.header-inner__top {
  display: flex;
}

.page-switch {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.page-switch span,
.page-switch a {
  color: var(--grey);
}

.page-switch span {
  opacity: 0.3;
  margin: 0px 5px;
}

.logo {
  width: 82px;
  height: 42px;
  margin-right: 15px;
}

.page-theme span {
  font-size: 16px;
  margin-bottom: 2px;
}

.page-theme a {
  font-size: 18px;
  position: relative;
}

.page-theme a:hover {
  color: var(--primary-color);
}

.page-theme a:last-child::after {
  content: url('../assets/icons/icon/New-1.svg');
  position: absolute;
  top: -10px;
  padding: 0 4px;
}

.search-form.sticky {
  position: relative;
  top: 7px;
  left: 620px;
  z-index: 3;
}

#search {
  width: 400px;
  height: 48px;
  border: 1px solid var(--primary-color);
  border-radius: 8px;
  padding: 20px 30px;
  font-size: 16px;
}

#search.sticky {
  width: 200px;
  height: 40px;
  border: 1px solid var(--light-gray);
  border-radius: 8px;
  font-size: 10px;
}

#search:focus {
  outline: 2px solid var(--primary-color);
}

.search-form__group__btn {
  width: 36px;
  height: 36px;
  background: url("../assets/icons/icon/Search.svg") no-repeat;
  /* background-color: transparent; */
  border: none;
  position: relative;
  top: 12px;
  right: 45px;
}

.search-form__group__btn.sticky {
  background: url("../assets/icons/icon/Search-bk.svg") no-repeat;
}

.member-page {
  display: flex;
  align-items: center;
}

.member-page.sticky {
  position: relative;
  top: 34px;
  z-index: 2;
}

.member-page a {
  display: inline-block;
  width: 36px;
  height: 36px;
  margin: 10px 10px 0 10px;
}

.member-page__location {
  background: url('../assets/icons/icon/Location.svg') no-repeat;
  background-size: cover;
}
.member-page__location:hover {
  background: url('../assets/icons/icon/Location-pc.svg') no-repeat;
}

.member-page__heart {
  background: url('../assets/icons/icon/Heart.svg') no-repeat;
  background-size: cover;
}
.member-page__heart:hover {
  background: url('../assets/icons/icon/Heart-pc.svg') no-repeat;
}

.member-page__cart {
  background: url('../assets/icons/icon/Cart.svg') no-repeat;
  background-size: cover;
}
.member-page__cart:hover {
  background: url('../assets/icons/icon/Cart-pc.svg') no-repeat;
}

.nav {
  display: flex;
  padding: 20px 0px;
  position: relative;
}

.nav__category {
  width: 95px;
  height: 25px;
  background: url('../assets/icons/icon/Category.svg') no-repeat -8px -2px;
  margin-bottom: 10px;
  padding: 0 20px;
  cursor: pointer;
}

.nav__category:hover {
  background: url('../assets/icons/icon/Category.svg') no-repeat -8px -29px;
}

.nav__category-list {
  position: absolute;
  top: 75px;
  width: 200px;
  height: 620px;
  overflow: scroll;
  background-color: var(--white);
}

.nav__category-list li {
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  text-align: left;
  padding: 10px 0px 10px 55px;
  background-image: url("../assets/icons/icon/MenuIcon.svg");
  background-repeat: no-repeat;
  background-size: 45px;
  background-position: 5px 0;
}

/* category list icon */
.nav__category-list li:nth-child(2) {
  background-position: 5px -340px;
}
.nav__category-list li:nth-child(3) {
  background-position: 5px -603px;
}
.nav__category-list li:nth-child(4) {
  background-position: 5px -790px;
}
.nav__category-list li:nth-child(5) {
  background-position: 5px -110px;
}
.nav__category-list li:nth-child(6) {
  background-position: 5px -265px;
}
.nav__category-list li:nth-child(7) {
  background-position: 5px -526px;
}
.nav__category-list li:nth-child(8) {
  background-position: 5px -377px;
}
.nav__category-list li:nth-child(9) {
  background-position: 5px -191px;
}
.nav__category-list li:nth-child(10) {
  background-position: 5px -454px;
}
.nav__category-list li:nth-child(11) {
  background-position: 5px -77px;
}
.nav__category-list li:nth-child(12) {
  background-position: 5px -754px;
}
.nav__category-list li:nth-child(13) {
  background-position: 5px -680px;
}
.nav__category-list li:nth-child(14) {
  background-position: 5px -40px;
}
.nav__category-list li:nth-child(15) {
  background-position: 5px -150px;
}
.nav__category-list li:nth-child(16) {
  background-position: 5px -230px;
}
.nav__category-list li:nth-child(17) {
  background-position: 5px -640px;
}
.nav__category-list li:nth-child(18) {
  background-position: 5px -303px;
}
.nav__category-list li:nth-child(19) {
  background-position: 5px -415px;
}
.nav__category-list li:nth-child(20) {
  background-position: 5px -490px;
}
.nav__category-list li:nth-child(21) {
  background-position: 5px -564px;
}
.nav__category-list li:last-child {
  background-position: 5px -717px;
}

.nav__category-list li:hover {
  cursor: pointer;
  background-color: var(--light-gray);
  color: var(--primary-color);
}

.nav__categhory__menu {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-size: 16px;
}

.nav__categhory__menu.sticky {
  justify-content: flex-start;  
}

.nav__categhory__menu li {
  cursor: pointer;
  margin: 0px 40px;
}

.nav__categhory__menu li:hover {
  color: var(--primary-color);
  border-bottom: 1px solid var(--primary-color);
}

.nav__categhory__delivery {
  width: 160px;
  height: auto;
  padding: 6px 10px;
  font-size: 13px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.nav__categhory__delivery span:first-child {
  color: var(--primary-color);
}

.hidden {
  display: none;
}

.disabled-color {
  color: var(--grey);
}

.activate-color {
  color: var(--primary-color) !important;
}
