/* 레이아웃 */
body {
}

/* 비주얼 */
.visual {
  /* margin-top: 247px; */
  /* width: 1920px; */
  text-align: center;
  /* margin-left: auto; */
  /* margin-right: auto; */
  /* background-color: teal; */
}

/* 메인배너 swiper */

.swiper-container {
  height: 370px;
  position: relative;
  overflow: hidden;
}

.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  width: 52px;
  height: 52px;
  background-size: 50px;
  border: none;
  border-radius: 50%;
}

.swiper-button-prev {
  background: url(../assets/icons/icon/Arrow-left.svg) no-repeat center;
  top: 50%;
  left: 351px;
}

.swiper-button-next {
  background: url(../assets/icons/icon/Arrow-right.svg) no-repeat center;
  top: 50%;
  right: 351px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

.pagination {
  width: 47px;
  height: 18px;
  position: absolute;
  bottom: 28px;
  left: 1436px;
  z-index: 3;
  background: rgba(64, 64, 64, 0.3);
  text-align: center;
  line-height: 18px;
  border-radius: 12px;
  color: var(--white);
  font-size: 12px;
}

/* 오늘의 상품 swiper */
.today-product-swiper-container {
  height: auto;
  overflow: hidden;
}

.today-product-prev,
.today-product-next {
  position: absolute;
  width: 52px;
  height: 52px;
  top: 45%;
  z-index: 5;
  border: none;
  border-radius: 50%;
}

.product-background-prev {
  left: -26px;
  background: url(../assets/icons/icon/arrow2-1.svg) no-repeat center;
  background-size: 50px;
  transform: rotate(180deg);
}

.product-background-next {
  right: -26px;
  background: url(../assets/icons/icon/arrow2-1.svg) no-repeat center;
  background-size: 50px;
}

.hidden {
  display: none;
}

/* 놓치면 후회할 가격 swiper */
.product-swiper-container {
  overflow: hidden;
}

.product-button-prev,
.product-button-next {
  position: absolute;
  width: 52px;
  height: 52px;
  background-size: 50px;
  top: 45%;
  z-index: 5;
  border: none;
  border-radius: 50%;
}

/* 메인 */
main {
  /* background-color: lightpink; */
  overflow: hidden;
  margin: 0 auto;
}

.main-inner {
  width: 1050px;
  margin: 0 auto;
  /* background-color: lightblue; */
}

.today-product {
  position: relative;
}

.today-product h1 {
  text-align: center;
  vertical-align: middle;
  margin-top: 40px;
  line-height: 40px;
  height: 64px;
}

.today-product-list {
  margin-top: 28px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.today-product-list li img {
  width: 249px;
  height: 320px;
}

.today-product-list__img-container {
  position: relative;
  height: 320px;
}

.today-product-list__button-wrapper {
  position: absolute;
  right: 15px;
  bottom: 17px;
}

.today-product-list__button-wrapper button {
  width: 45px;
  height: 45px;
  background: url('../assets/icons/icon/CartCircle.svg') no-repeat center;
  border: none;
  border-radius: 50%;
  overflow: hidden;
  z-index: 5;
}

.today-product-list__button-wrapper span {
  margin-left: -100px;
}

.today-product-list__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  padding: 16px 0 24px;
}

.today-product-list__name {
  font-size: 16px;
  font-weight: 400;
}

.today-product-list__price {
  font-size: 21px;
  font-weight: 600;
}

.today-product-list__price span {
  color: var(--accent-color);
  margin-right: 8px;
}

.today-product-list__origin-price {
  color: var(--dark-grey);
  text-decoration: line-through;
  font-size: 12px;
}

.line-banner {
  margin: 40px 0;
}

.line-banner img {
  max-width: 100%;
}

/* 최근 본 상품 */

.recent-product {
  width: 74px;
  height: 100vh;
  position: absolute;
  right: 39px;
  top: 810px;
  z-index: 10;
  background-color: var(--white);
}

.recent-product__inner {
  position: sticky;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  height: 223px;
  border: 1px solid #c4c4c4;
}

.recent-product__list {
  height: 129px;
  overflow: hidden;
}

.recent-product__list li {
  display: inline-block;
  width: 40px;
  height: 51px;
  margin: 0 auto;
}

.recent-product__list li a {
  display: block;
  height: 100%;
}

.recent-product__list li img{
  width: 40px;
  height: 51px;
}

.recent-product p {
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 8px;
}

/* IR 기법 */
.recent-product__button {
  overflow: hidden;
  display: inline-block;
  width: 18px;
  height: 18px;
  border: none;
  background: url('../assets/icons/Icon/Arrow.svg') no-repeat;
  /* background-color: blueviolet; */
  margin: 8px 0;
}

.recent-button-prev {
  background-position: -8px -8px;
}
.recent-button-next {
  background-position: -8px -34px;
}

/* 메인 팝업 */

.main-popup {
  position: absolute;
  top: 297px;
  left: 50%;
  transform: translateX(-220px);
  font-size: var(--text-base);
  z-index: 2;
}

.main-popup a {
  display: block;
  height: 586px;
}

.main-popup img {
  border-radius: 16px 16px 0 0;
}

.main-popup__button-wrapper {
  width: 440px;
  margin: 0 auto;
}

.main-popup__button-wrapper button {
  width: 50%;
  height: 86px;
  background-color: var(--white);
  border: none;
}

.main-popup__button-wrapper button:first-child {
  border-right: 1px solid #e1e1e1;
  border-radius: 0 0 0 16px;
}

.main-popup__button-wrapper button:last-child {
  border-radius: 0 0 16px 0;
}

/* 장바구니 팝업 */

.add-cart-container {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 100;
}

.scrollLock {
  overflow: hidden;
}

.add-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: var(--text-base);
  font-weight: 600;
}

.add-cart__inner {
  width: 396px;
  height: 292px;
  border-radius: 16px;
  padding: 24px 20px;
  background-color: var(--white);
  box-shadow: 0px 8px 36px rgba(0, 0, 0, 0.2);
}

.add-cart__calculate {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 66px;
}

.add-cart__count-wrapper {
  display: flex;
  justify-content: space-between;
}

.add-cart__count {
  display: flex;
  align-items: center;
  border: 1px solid #c4c4c4;
  width: 84px;
}

.add-cart__count button {
  width: 30px;
  height: 30px;
  display: inline-block;
  border: none;
  overflow: hidden;
}

.add-cart__minus-button{
  background: url('../assets/icons/icon/Minus.svg') no-repeat;
  background-position: -7px -45px;
}

.is-active-minus{
  background-position: -7px -7px;
}

.add-cart__count span {
  width: 20px;
  text-align: center;
}

.add-cart__plus-button {
  background: url('../assets/icons/icon/Plus.svg') no-repeat;
  background-position: -7px -7px;
}

.add-cart__total-wrapper {
  margin: 24px 0;
  height: 68px;
}

.add-cart__total-price {
  display: flex;
  justify-content: space-between;
  margin: 4px 0;
}

.add-cart__total-price span:first-child {
  display: flex;
  align-items: flex-end;
}

.add-cart__total-price div{
  display: flex;
  align-items: center;
}

.add-cart__price {
  font-size: 28px;
  font-weight: 700;
  margin-right: 10px;
}

.add-cart__price-text{
  font-size: 16px;
  font-weight: 700;
}


.add-cart__reward {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 12px;
}

.add-cart__reward span:first-child {
  background-color: var(--orange);
  color: var(--white);
  width: 37px;
  height: 18px;
  font-size: 12px;
  text-align: center;
  line-height: 18px;
}

.add-cart__button-wrapper {
  height: 54px;
  gap: 8px;
  display: flex;
}

.add-cart__button-wrapper button {
  width: 50%;
  border: 1px solid var(--dark-grey);
  border-radius: 4px;
  font-weight: 600;
}

.add-cart__button-wrapper button:first-child {
  background-color: var(--white);
}

.add-cart__button-wrapper button:last-child {
  background-color: var(--purple);
  color: var(--white);
}
