@import url(./normalize.css);
@import url(./reset.css);
@import url(./module.css);
/* @import url(./fontello.css); */

/* 숨김 콘텐츠 */
.a11y-hidden,
legend {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0);
}

/* 기본 스타일 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}
/* 링크 스타일 */
a {
  color: inherit;
  text-decoration: none;
  height: 0;
}

button {
  border: 0;
  background: none;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

body {
  font-family: 'Pretendard Variable', Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', sans-serif;
  max-width: 1050px;
  margin: 0 auto;
}

.product-detail__title {
  text-align: center;
  margin-top: 48px;
  font-weight: 600;
  font-size: 21px;
  line-height: 150%;
}

.product-detail {
  display: flex;
  flex-flow: row nowrap;
  margin-top: 48px;
}

.product-detail__main {
  width: 220px;
  margin-right: 47px;
  flex-shrink: 0;
}

.product-detail__accordion > li {
  border-bottom: 1px solid #e1e1e1;
  font-weight: 600;
  font-size: 16px;
  padding: 14px 0;
}

.product-detail__accordion__filter {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.product-detail__accordion__filter p {
  margin: 0;
}

.product-detail__accordion__filter button {
  font-weight: 600;
  font-size: 10px;
  line-height: 160%;
  color: #a6a6a6;
}

.product-detail__accordion__list summary::marker {
  content: '';
}

details[open] summary {
  padding-bottom: 14px;
}

details summary img {
  transition: 0.5s;
}

details[open] summary img {
  transform: rotate(-180deg);
}

summary {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

summary p {
  margin: 0;
}

.product-detail__accordion__list__name {
  padding-left: 0;
}

.product-detail__accordion__list__name li {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  margin: 8px 0 16px;
}

.product-detail__accordion__list__name label {
  padding-left: 12px;
}

input {
  position: relative;
  margin-left: 6px;
}

input[type='checkbox']::after {
  content: '';
  display: block;
  width: 24px;
  height: 24px;
  background:#fff url(../assets/icons/input/isChecked=false.svg) no-repeat center/cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input[type='checkbox']:checked::after {
  background:#fff url(../assets/icons/input/Group.svg) no-repeat center/cover;
}

details button {
  width: 220px;
  font-weight: 600;
  font-size: 12px;
  line-height: 150%;
  color: #a6a6a6;
  text-align: center;
}

details button::after {
  content: '';
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url(../assets/icons/icon/Direction=Right.svg) no-repeat;
  vertical-align: -4px;
  /* background-color: #FA622F; */
}

.product-detail__group {
  width: 783px;
  flex-shrink: 0;
}

.product-detail__group__choice {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.test 
{
  margin: 0;
}

.product-detail__group__choice span {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: #333333;
}

.product-detail__group__choice ul {
  display: flex;
  flex-flow: row nowrap;
}

.product-detail__group__choice button {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: #a6a6a6;
  flex-shrink: 0;
  /* background-color: red; */
}

/* .clicked {
  color: black;
} */

.test:first-child button {
  padding-right: 0;
  /* background-color: aqua; */
}

.product-detail__group__choice__button:last-child button {
  padding-right: 0;
  /* background-color:#FA622F; */
}

.product-detail__group__choice__button:nth-child(n + 2)::before {
  content: '';
  width: 1px;
  height: 10px;
  display: inline-block;
  background-color: #a6a6a6;
}

.product-detail__group__choice__button:first-child::after {
  content: '';
  display: inline-block;
  width: 14px;
  height: 20px;
  background: url(../assets/icons/icon/Frame.svg) no-repeat;
  vertical-align: -4px;
  margin-right: 5px;
  right: px;
  /* background-color: aquamarine; */
  position: relative;
}

.clicked {
  color: black;
}

.product-detail__group__list {
  /* background-color: red; */
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 18px;
  margin-bottom: 24px;
}

.product-detail__group__list__image {
  height: 538px;
}

.product-detail__group__list__image .visual {
  position: relative;
}

.visual-image img {
  width: 249px;
}

.product-detail__group__list__image button img {
  /* background-color: blue; */
  width: 45px;
  height: 45px;
  position: absolute;
  top: 258px;
  right: 15px;
}

.info p {
  margin: 0 0 8px;
}

.product-detail__group__list__delivery {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #898989;
}

.product-detail__group__list__name {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  margin-top: 7px;
}

.product-detail__group__list__price {
  font-weight: 600;
  font-size: 21.328px;
  line-height: 150%;
  margin-top: 7px;
}

.product-detail__group__list__before-price {
  font-weight: 400;
  font-size: 12.003px;
  line-height: 160%;
  color: #898989;
  margin-top: 7px;
}

.product-detail__group__list__info {
  font-weight: 400;
  font-size: 12.003px;
  line-height: 160%;
  color: #898989;
  margin-top: 7px;
}

.product-detail__group__list__price span {
  font-weight: 600;
  font-size: 21.328px;
  line-height: 150%;
  color: #fa622f;
  padding-right: 6px;
}

.product-detail__group__page-navi__next {
  transform: rotate(180deg);
}

.product-detail__group__page-navi {
  height: 70px;
  position: relative;
  margin-bottom: 80px;
}

.product-detail__group__page-navi__group {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  font-size: 0;
  line-height: 0;
}

.product-detail__group__page-navi__group button img {
  border: none;
}

.product-detail__group__page-navi__group button {
  border: 1px solid #e1e1e1;
  width: 34px;
  height: 34px;
  border-right: 0;
  margin: 0;
  padding: 0;
  line-height: 150%;
}

.product-detail__group__page-navi__group span {
  display: inline-block;
  font-size: 12px;
  line-height: 150%;
}

.product-detail__group__page-navi__group button:nth-child(3) {
  border-right: 1px solid #e1e1e1;
}
