@import url(./reset.css);
@import url(./module.css);

/* 숨김 콘텐츠 */
.a11y-hidden,
legend {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0);
}

/* 본문 스타일 */
body {
  /* width: 1920px; */
  color: var(--black);
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

/* 기본 스타일 */
*,
*::before,
*::after {
  box-sizing: border-box;
}


html {
  font-size: 16px;
}
/* 링크 스타일 */
a {
  color: inherit;
  text-decoration: none;
}
/* --------------------------장바구니 영역 -----------------------------*/
input[type=checkbox] {
  display:none;
}
.radio::before {    
  background: url(../client/assets/icons/input/Check.svg) no-repeat 0px 0px;  
  content: "";
  display: inline-block;
  height: 24px;
  width: 24px;    
  padding: 0;
  margin: 0 3px 5px 8px;
  background-position: -8px -40px;
  vertical-align: top;
  /* align-items: center; */
}
.divider{
  display: inline-block;
  width: 1px;
  height: 14px;
  background: var(--black);
  margin: 0 8px 0px 8px;
  vertical-align: top;
}
.cart-title{
  font-size: var(--text-lg);
  font-weight: var(--text-600);
  text-align: center;
  margin-top: 80px;
}
.chk-delete{
  background: transparent;
  border:0 solid;
  font-size: var(--text-base);
  font-weight: var(--text-600);
  padding: 0;
}
.cart{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 24px;
  width: 1050px;
  height: 709px;
  margin: 44px auto 80px auto;
  /* background-color: skyblue; */
  font-family: Pretendard;
}
.cart-list{
  width: 742px;

}
.cart-radio{
  /* background-color: goldenrod; */
  width: 742px;
  height: 56px;
  display: flex;
  align-items: center;

}
.radio{
  line-height: 150%;
  height: 24px;
  font-size: var(--text-base);
  font-weight: var(--text-600);
}
.food-list{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  width: 742px;
}
details summary::marker{
  font-size: 0;
}
details summary{
  display: block;
  /* align-items: center; */
  /* padding: 20px 0; */
}
.cart-accordian-cold{
  position: relative;
  display: flex;
  padding: 19px 0;
  flex-direction: row;
  justify-content: space-between;
  /* height: 62px; */
  width: 742px;
  /* background-color: chartreuse ; */
  border-top: 1px solid var(--black);
  align-items: center;
  font-weight: var(--text-600);
}
.arrow-button{
  content: "";
  position: absolute;
  right: 0px;
  width: 30px;
  height: 30px;
  display: inline-block;
  /* background-color: transparent; */
  background: url(../client/assets/icons/icon/ArrowRight.svg) no-repeat 0px 0px;
  transform: rotate(90deg);
  background-position: 12px 9px;
  border: 0px solid;
  padding: 0;
}
.cold-icon{
  line-height: 200%;
  vertical-align: center;
}
.cold-icon::before{
  background: url(../client/assets/icons/icon/Food.svg) no-repeat 0px 0px;  
  content: "";
  display: inline-block;
  height: 30px;
  width: 30px;
  background-position: -6px -49px;
  vertical-align: top;
  margin-right: 12px;
}
.cart-accordian-frozen{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 62px;
  width: 742px;
  /* background-color: chartreuse; */
  border-top: 1px solid var(--black);
  align-items: center;
  font-weight: var(--text-600);
}
.cart-accordian-room-temp{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 62px;
  width: 742px;
  /* background-color: chartreuse; */
  border-top: 1px solid var(--black);
  border-bottom: 1px solid var(--black);
  align-items: center;
  font-weight: var(--text-600);
}
.frozen-icon{
  line-height: 200%;
  vertical-align: center;
}
.frozen-icon::before{
  background: url(../client/assets/icons/icon/Food.svg) no-repeat 0px 0px;  
  content: "";
  display: inline-block;
  height: 30px;
  width: 30px;
  background-position: -6px -6px;
  vertical-align: top;
  margin-right: 12px;
}
.room-temp-icon{
  line-height: 200%;
  vertical-align: center;
  
}
.room-temp-icon::before{
  background: url(../client/assets/icons/icon/Food.svg) no-repeat 0px 0px;  
  content: "";
  display: inline-block;
  height: 30px;
  width: 30px;
  background-position: -6px -94px;
  vertical-align: top;
  margin-right: 12px;
}

.product-cell{
  border-top: 1px solid var(--black);
  display: flex;
  /* justify-content: space-between; */
  /* background-color: lightblue; */
  width: 742px;
  height: 118px;
  align-items: center;
}
.checkbox{
  background: url(../client/assets/icons/input/Check.svg) no-repeat 0px 0px;  
  content: "";
  display: inline-block;
  height: 24px;
  width: 24px;    
  padding: 0;
  margin: 0 3px 5px 8px;
  background-position: -8px -40px;
  vertical-align: top;
  border: 0;
  
}

.cell__product-name{
  font-size: var(--text-base);
  font-weight: var(--text-600);
  line-height: 150%;
  margin-left: 8px;
}
.product__quantity{
  width: 84px;
  height: 30px;
  /* gap: 8px; */
  align-items: center;
  display: flex;
  flex-flow: row;
  margin-left: 186px;
  border: 1px solid #c4c4c4;
}
.minus-button{
  width: 30px;
  height: 30px;
}
.button-count{
  margin: 0 8px;
}
.plus-button{
  width: 30px;
  height: 30px;
}
.product-price{
  font-size: var(--text-base);
  font-weight: var(--text-600);
  line-height: 250%;
  margin-left: 76px;
  vertical-align: middle;
}
.product-price::after{
  content: "";
  background-image: url(../client/assets/icons/icon/Cancel.svg);
  width: 30px;
  height: 30px;
  margin-left: 8px;
  display: inline-block;
  line-height: bottom;
  vertical-align: middle;
}
.minus-button{
  /* background-image: url(../client/assets/icons/icon/Minus.svg); */
  font-size: 20px;
  display: block;
  content: "";
  width: 30px;
  height: 30px;
  border: 0;
  background-position: -10 0;
  background-color: transparent;
}
.plus-button{
  /* background-image: url(../client/assets/icons/icon/Plus.svg); */
  content: "";
  font-size: 20px;
  width: 30px;
  height: 30px;
  border: 0;
  background-position: -1 -1;
  background-color: transparent;
}

/* ------------------결제역역-------------------------------------------- */
.credit{
  /* background-color: ivory; */
  width: 284px;
  height: 709px;
}
.location-title{
  font-size: var(--text-base);
  font-weight: var(--text-600);
}
/* .location{
  background-color: lightblue;
} */
.credit__location-addes{
  display: flex;
  flex-direction: column;
  font-size: var(--text-base);
  font-weight: var(--text-600);
  /* background-color: pink; */
  padding: 20px 18px 20px 18px;
  border: 1px solid var(--light-gray);
  gap: 12px;
  height: 222px;

}
.location-address{
  line-height: 150%;
}
.icon-location{
  font-size: var(--text-base);
  font-weight: var(--text-600);
}
.icon-location::before{
  background: url(../client/assets/icons/icon/Location.svg) no-repeat 0px 0px;  
  content: "";
  display: inline-block;
  height: 36px;
  width: 36px;
  vertical-align: middle;
}
.location-badge{
  font-size: var(--text-xs);
  font-weight: var(--text-600);
  color: var(--primary-color);

}
.location-button{
  width: 244px;
  height: 44px;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: var(--spacing--xxs);
  font-size: var(--text-base);
  font-weight: var(--text-600);
  background: transparent;
}
.cart_payment{
  background-color: #f9f9f9;
  height: 267px;
  border: 1px solid var(--light-gray);
  padding: 20px;
 
}
.payment-wraper{
  /* background-color: yellow; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 134px;
  gap: 16px;
  /* position: relative; */
}
.product_amount{
  display: flex;
  justify-content: space-between;
}
.product_dcAmount{
  display: flex;
  justify-content: space-between;
}
.delivery_amount{
  display: flex;
  justify-content: space-between;
}
.amount_name{
  font-size: var(--text-base);
  font-weight: var(--text-400);
  line-height: 140%;
  vertical-align: middle;
}
.amount_num{
  font-size: var(--text-base);
  font-weight: var(--text-400);
  line-height: 160%;
}

.won{
  font-size: var(--text-base);
  font-weight: var(--text-600);
  line-height: 150%;
  margin-left: 4px;
}
.final_amount{
  /* background-color: lightgreen; */
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 93px;
  padding: 24px 0px;
  gap: 11px;
  border-top: 1px dotted var(--light-gray);
  align-items: center;
}
.credit-accumulate{
  position: absolute;
  width: 244px;
  display: flex;
  padding-top: 11px;
  justify-content: flex-end;
  line-height: 150%;
  bottom: 170px;
  font-size: var(--text-xs);
  font-weight: var(--text-600);
}
.credit-accumulate::before{
  content: "적립";
  /* display: block; */
  width: 37px;
  height: 18px;
  border-radius: 1px;
  padding: 0 8px;
  background-color: var(--accent-color);
  font-size: var(--text-xs);
  font-weight: var(--text-600);
  color: white;
  line-height: 150%;
  text-align: center;
  margin: 0 8px;
}

.amount_strong{
  font-size: 29px;
  font-weight: var(--text-700);
}
.oder-button{
  width: 284px;
  height: 44px;
  background-color: var(--primary-color);
  border: 0;
  border-radius: 4px;
  font-size: var(--text-base);
  font-weight: var(--text-600);
  color: white;
  margin: 16px 0;
}
.oder-notice{
  font-size: var(--text-xs);
  font-weight: var(--text-600);
  color: var(--dark-grey);
  line-height: 150%;
  list-style: none;
}
